<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.runonground.model.dao.CommunityDao">
	
	<!-- 수다글 등록 -->
	<insert id="insertPost" parameterType="CommunityPost">
		INSERT INTO community_post(author_name, team_name, title, content, post_imgpath)
		VALUES (#{authorName}, #{teamName}, #{title}, #{content}, #{postImgPath})
	</insert>
	
	<!-- 수다글 전체 조회 -->
	<select id="searchAllPost" parameterType="String" resultType="CommunityPost">
		SELECT * FROM community_post
		WHERE team_name = #{teamName}
	</select>
	
	<!-- 수다글 하나 조회 -->
	<select id="searchOnePost" parameterType="int" resultType="CommunityPost">
	    SELECT * FROM community_post 
	    WHERE post_id = #{postId}
	</select>
	
	<!-- 수다글 하나 삭제 -->
	<delete id="deletePost" parameterType="int">
		DELETE FROM community_post 
		WHERE post_id = #{id}
	</delete>
	
	<!-- 수다글 수정 -->
	<update id="updatePost" parameterType="CommunityPost">
		UPDATE community_post
		SET title = #{title}, content = #{content}, reg_date = now()
	</update>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE community_post
		SET view_cnt = view_cnt+1 
		WHERE post_id = #{id}
	</update>
	
	<!-- 댓글 달기 -->
	<insert id="addComment" parameterType="CommunityComment">
		INSERT INTO community_comment (post_id, author_name, content)
		VALUE(#{postId}, #{authorName}, #{content})
	</insert>
	
	<!-- 특정 게시물의 댓글 전체 조회 -->
	<select id="selectAllComment" parameterType="int" resultType="CommunityComment">
		SELECT * FROM community_comment
		WHERE post_id = #{id}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="CommunityComment">
		UPDATE community_comment
		SET post_id = #{postId}, author_name = #{authorName}, content = #{content}, reg_date = now()
		WHERE comment_id = #{commentId}
	</update>
	
	<!-- 댓글 삭제 -->
	
	
</mapper>